nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

nav section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav section a:not(.closeNav),
.dropDownToggle {
    padding: 7px;
    margin: 2px;
    text-decoration: none;
    color: black;
    border: 2px solid var(--accent1-rgba-07);
    border-radius: 5px;
    transition: all 0.5s ease-out;
    height: auto;
    text-align: center;
}

nav section .dropDown {
    position: relative;
}

nav section .dropDown .dropDownContent {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
}

nav section .dropDown .dropDownContent a {
    display: block;
    width: 100%;
    text-align: left;
}

/* Hover Events */

nav section .closeNav {
    margin: 0;
    display: flex;
    color: black;
    border: none;
}

nav section .closeNav>* {
    margin: 0;
    font-size: 0rem;
    color: black;
}


nav section .navItem:hover,
.dropDownToggle:hover,
.active {
    cursor: pointer;
    background-color: var(--accent1);
    color: white;
    font-weight: bold;
}

.dropDown:has(:hover) .dropDownContent {
    display: flex;
    flex-direction: column;
}

nav section .mobileLogo {
    display: none;
}

.desktopLogo,
.mobileLogo {
    cursor: pointer;
}

.desktopLogo {
    border-radius: 5px;
}

@media screen and (max-width: 600px) {

    .show:not(.dropDownContent) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
    }




    nav,
    nav section,
    nav section .dropDown,
    nav section .dropDown .dropDownContent {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
    }

    header {
        display: flex;
        flex-direction: row;
        padding: 5px;
        border-bottom: 2px solid var(--accent1-rgba-07);
    }
    header .column .mobileLogo {
        display: block;
        border-radius: 100%;
    }
    header .column #mobileNavToggle {
        background: none;
        border: none;
        font-size: 2rem;
    }

    nav section .mobileLogo:before {
        content: '';
        position: absolute;
        border-radius: 100%;
    }

    nav section .desktopLogo {
        display: none;
    }

    nav section .dropDown .dropDownContent {
        display: none;
    }
    nav section a:first-child:not(.closeNav) {
        margin-top: 15px;
    }
    nav section a:not(.closeNav),
    nav section .dropDown .dropDownToggle,
    nav section .dropDown .dropDownContent,
    nav section .dropDown .dropDownContent a {
        margin: 3px 0;
        width: 150px;
    }

}