h1,
h2,
h3,
p {
    text-align: center;
}

h2 {
    padding: 1rem;
    border-bottom: 2px groove white;
}

.column>p {
    padding: 1rem;
    border-bottom: 2px groove white;
}

.rows {
    align-content: center;
}

.rows>.row,
.rows>.column {
    margin: 1rem;
    padding: 2em;
    
    border-radius: 2rem;
}

.rows>.row>*,
.rows>.row>.column>* {
    margin: 0.5rem;
    color: rgb(255, 255, 255);
}

/* .rows>.row:has(.column) {
    flex-direction: column;
}
 */
.rows p {
    font-size: 1.3em;
}

.rows>.row>.column {
    align-items: center;
}

a.button {
    --_shadow: var(--shadow, var(--accent1));
    color: white;
    transition: all 700ms;
    border: none;
    border-radius: 0.3em;
    padding: 1em;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.122), -0.3em -0.3em 0 0 var(--_shadow);
    font-weight: bold;
}

@media screen and (max-width: 75rem) {
    .rows>.row:has(.column) {
        flex-direction: column;
    }
}