.card {
    width: 20rem;
}

.card:first-child,
.card:last-child {
    width: 15rem;
}

.card h1 {
    font-size: 2rem;
    font-weight: bold;
}
.card form  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.card form div input {
    padding: 0.5em;
    width: 50%;
}