html {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

body {
    margin: 0 auto;
}

.columns {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.columns .column {
    display: flex;
    flex-direction: column;
    margin: 5px;
}


.logo {
    width: 300px;
    height: 50px;
}

@media screen and (max-width: 900px) {
    .columns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .columns .column {
        justify-content: center;
        align-items: center;
    }

    .columns .column>* {
        text-align: center;
    }
}