.rows h1 {
    margin: 0 auto;
    text-align: center;
}

.rows .row {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: auto;
    justify-content: center;
}

.rows .row img {
    width: 25rem;
}

.buttons,
.cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    transition: all 700ms;
    margin: 1rem;
}

.cards {
    justify-content: center;
    gap: 2rem !important;
}

.buttons a,
.cards .card,
form button {
    --_shadow: var(--shadow, var(--accent1));
    color: white;
    transition: all 700ms;
    border: none;
    border-radius: 0.3em;
    padding: 1em;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.122), -0.3em -0.3em 0 0 var(--_shadow);
    font-weight: bold;
}

form button {
    box-shadow: none;
}

form button:hover {
    box-shadow: 0 0 1em rgb(0 0 0 / 0.122), -0.3em -0.3em var(--_shadow);
    cursor: pointer;

}

.card h1 {
    text-align: center;
}

.buttons a {
    text-decoration: none;
    font-weight: bold;
}

.buttons a:nth-child(2),
.card:nth-child(2) {
    --shadow: var(--accent2-rgba-07);
}

.buttons a:nth-child(3),
.card:nth-child(3) {
    --shadow: var(--accent3-rgba-07);
}

form button {
    --shadow: rgb(154, 209, 170);
}

.buttons a:hover {
    transition: all 700ms;
    color: white;

    transform: translate(-0.3em, -0.3em) scale(0.3em, 0.3em);
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
    background-color: var(--_shadow);
}

@media screen and (max-width: 67.5rem) {
    .columns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .columns .column {

        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .columns .column>* {
        text-align: center;
    }

    .rows {
        align-items: center;
    }

    .rows .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 75%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}