.cards .card,
form button {
    --_shadow: var(--shadow, var(--accent1));
    color: white;
    transition: all 700ms;
    border: none;
    border-radius: 0.3em;
    padding: 1em;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.122), -0.3em -0.3em 0 0 var(--_shadow);
    font-weight: bold;
}

form button {
    box-shadow: none;
}

form button:hover {
    box-shadow: 0 0 1em rgb(0 0 0 / 0.122), -0.3em -0.3em var(--_shadow);
    cursor: pointer;

}

.card h1 {
    text-align: center;
}



form button {
    --shadow: rgb(154, 209, 170);
}


.columns {
    flex-direction: column !important;
}


.column {
    backdrop-filter: blur(2px);
}
