header {
    display: none;
}

nav {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: row;
    align-items: center;
    background-color: var(--nav-background);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

nav section {
    display: flex;
    gap: 0.3em;
    align-items: center;
    flex-direction: row;
}


nav section a,
nav section div,
nav section div a {
    color: rgb(247, 255, 250);
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin: 2px;
    transition: all 250ms;
}


nav section>a:hover,
nav section .dropdown .dropdownItems a:hover {
    border-bottom: 2px solid var(--accent1);
    border-top: 2px solid var(--accent1);
}

nav section div a:hover {
    border-top: 2px solid var(--accent1);
}

nav section .dropdown a {
    position: relative;
}

nav section .dropdown a i {
    transition: transform 250ms;
}

nav section .dropdown a:hover {
    cursor: pointer;
}

nav section .dropdown .dropdownItems {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--nav-background);
    display: none;
    position: absolute;
    margin-inline: auto;
    width: 100vw;
}

nav section .dropdown:hover .dropdownItems {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 59.063em) {
    nav {
        display: flex;
        height: 0;
        /* Change to flex when nav toggle clicked */
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    nav section {
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    nav section img {
        display: none;
    }

    nav section .dropdown {
        position: relative;
    }

    nav section .dropdown .dropdownItems {
        position: relative;
        width: 100%;
        margin: 1em 0;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    }

    nav section #mobileNavClose {
        font-size: 2em;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: var(--header-background);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        position: static;
    }

    header section {
        margin: 0.5em;
        width: 99%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    header section a {
        border-radius: 5px;
    }

    header section a i {
        margin: 5px;
        font-size: 2.5rem;
        color: white;
    }
}