nav {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--nav-background);
}



nav {
    flex-direction: row;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

nav section {
    display: flex;
    gap: 0.3em;
    align-items: center;
    flex-direction: row;
}


nav section a,
nav section div,
nav section div a {
    color: rgb(247, 255, 250);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin: 2px;
    transition: all 250ms;
}


nav section > a:hover, 
nav section .dropdown .dropdownItems a:hover {
    border-bottom: 2px solid var(--accent1);
    border-top: 2px solid var(--accent1);
}

nav section div a:hover {
    border-top: 2px solid var(--accent1);
}


nav section a:hover::before,
nav section a:hover::after {
    width: 100%;
}

nav section .dropdown a {
    position: relative;
}

nav section .dropdown a i {
    transition: transform 250ms;
}

nav section .dropdown a:hover {
    cursor: pointer;
}

nav section .dropdown .dropdownItems {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--nav-background);
    display: none;
    position: absolute;
    margin-inline: auto;
    width: 100%;
}

nav section .dropdown:hover .dropdownItems {
    display: flex;
    flex-direction: column;
}


nav section .dropdown:hover a i {
    
    transform: rotate(180deg);
}

@media screen and (max-width: 600px) {
    nav {
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
    }

    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
    }

    nav section {
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    nav section img {
        display: none;
    }
    nav section .dropdown .dropdownItems {
        position: relative;
    }
}