nav {
    display: flex;
    flex-direction: row;
    margin: 2px;
    align-items: center;
}

nav .dropDown {
    transition: 0.5s;
    z-index: 5;
}

nav>a,
nav .dropDown .dropDownToggle {
    text-decoration: none;
    margin: 2.5px;
    padding: 5px;
    color: black;
    border: 2px solid var(--accent1-rgba-07);
    border-radius: 5px;
}

nav .dropDown .dropDownToggle {
    padding: 5px 2px;
}

nav .dropDown .dropDownContent {
    position: absolute;
    height: 0;
    border: none;
    flex-direction: column;
    /* border: 2px solid var(--accent1); */
    transition: 0.5s;
    display: flex;
    flex-direction: column;

}



nav .dropDown .dropDownContent a {
    border: none;
    height: 0;
}

nav>a:hover {
    background-color: var(--accent1-rgba-07);
    color: white;
}

nav .dropDown:hover .dropDownToggle {
    background-color: var(--accent1-rgba-07);
    color: white;
}


nav div.dropDown:hover .dropDownContent {
    transform: scaleY(100px);
}

nav .dropDown:hover .dropDownContent a {
    height: 40px;
}

nav .dropDown .dropDownContent a {
    text-decoration: none;
    margin: 2.5px;
    padding: 5px;
    color: black;
    width: 100% - 1px;
    border-bottom: 2px solid var(--accent1-rgba-07);
}

nav .dropDown .dropDownContent:last-child() {
    border-bottom: none
}