nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav section {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav section a:not(.closeNav),
.dropDownToggle {
    padding: 7px;
    margin: 2px;
    text-decoration: none;
    color: black;
    border: 2px solid var(--accent1-rgba-07);
    border-radius: 5px;
    transition: all 0.5s ease-out;
    height: auto;
    text-align: center;
}

nav section .dropDown {
    position: relative;
}

nav section .dropDown .dropDownContent {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

nav section .dropDown .dropDownContent a {
    display: block;
    width: 100%;
    text-align: left;
}

/* Hover Events */


nav section .closeNav {
    margin: 2px;
    color: black;
}

nav section .closeNav>i {
    margin: 0;
    font-size: 0rem;
    color: black;
}

nav section .navItem:hover,
.dropDownToggle:hover,
.active,
.dd-active {
    cursor: pointer;
    background-color: var(--accent1);
    color: white;
    font-weight: bold;
}

.dd-active, .dd-active:hover {
    background-color: var(--accent1-rgba-07);
}

nav section .mobileLogo {
    display: none;
}

.desktopLogo,
.mobileLogo {
    cursor: pointer;
}

.desktopLogo {
    border-radius: 5px;
}

header {
    display: none;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: 2px solid var(--accent1-rgba-07);
}

@media screen and (max-width: 600px) {

    .show:not(.dropDownContent):not(.closeNav) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0;
    }
    nav section img {
        width: 99%;
        height: 150px;
        margin-bottom: 5px;
    }
    nav,
    nav section,
    nav section .dropDown,
    nav section .dropDown .dropDownContent {
        margin: 0 auto;
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        height: 100%;
    }

    header {
        display: flex;
        flex-direction: row;
        padding: 5px;
        border-bottom: 2px solid var(--accent1-rgba-07);
    }

    header .column:has(#mobileNavToggle) {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding-right: 25px;
    }

    header .column .mobileLogo {
        display: block;
        border-radius: 100%;
        height: 100px;
        width: 100px;
    }

    header .column #mobileNavToggle {
        background: none;
        border: none;
        font-size: 3rem;
        transition: all 1s;
    }

    header .column #mobileNavToggle:hover {
        transform: rotate(90deg);
    }

    nav section .mobileLogo:before {
        content: '';
        position: absolute;
        border-radius: 100%;
    }

    nav section .desktopLogo {
        display: none;
    }

    nav section .dropDown .dropDownContent {
        display: none;
    }

    nav section a:first-child:not(.closeNav) {
        margin-top: 15px;
    }

    nav section a:not(.closeNav),
    nav section .dropDown .dropDownToggle,
    nav section .dropDown .dropDownContent,
    nav section .dropDown .dropDownContent a {
        margin: 2px 0;
        width: 150px;
    }
}